div#general.hide,
div#events.hide,
div#history.hide{
	display: none;
}

h4 a.btn-success{
	float: right;
	margin-top: -8px;
	width: 183px;
}

div#events legend
{
	border-top: 1px solid #e5e5e5;
}

div#events legend a.pop_box,
div#events legend a.disabled
{
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	width: 250px;
}

div#events legend a.disabled
{
	pointer-events: none;
}