div#next-week{
	display: none;
}

td a{
	display: block;
	padding: 3px;
	width: 100%;
	text-align: center;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
}

td a.new{
	background-color: #8b0000;
}

td a.new:hover{
	color: #fff;
}

td a.pending{
	background-color: #ffff00;
	color: #000;
}

td a.filled{
	background-color: #9ACD32;
	color: #000;
	cursor: default;
	pointer-events: none;
}